<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Do More, Pack Less
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <%if @current_user == nil %>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">Sign In</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign Up</a>
        </li>
        <%else%>     


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=@current_user.email%>'s world
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/clothes" class="dropdown-item">
              Clothes
            </a>
            <a href="/households" class="dropdown-item">
              Households
            </a>
            <a href="/components" class="dropdown-item">
              Components
            </a>
            <a href="/equipment" class="dropdown-item">
              Equipment
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/edit_user_profile">Your Profile</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">Sign Out</a>
        </li>
        
      <%end%>
      
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
