<h1> About Page </h1>

<h3> Pain point </h3>

<p> Some explanation about the nature of this website <p>

<h3> How the site works </h3>

<p> general workflow <p>

<h3> Links to your stuff </h3>

<p> Households </p>
<p> Clothing </p>
<p> Equipment </p>
<p> Components </p>