<h1> About Page </h1>

<div class="jumbotron">
  <h3 class="display-3">Painpoint: I pack too much STUFF</h3>
  <hr class="my-4">
  <p>It does not matter if it's a weekend or an expedition, I travel with too much stuff.</p>
  <p>I generally travel between a set number of locations: (my mom's house, my apartment, and my in-law's house).</p>
  <p>To make things worse, I can never remember what items I have at each location nor when to maintain components.</p>
  <p>I realized I could tediously keep track of everything by hand, or I could let a computer do what it does best and remember things for me.</p>
</div>

<div class="jumbotron">
  <h3 class="display-3">How this works</h3>
  <hr class="my-4">
  <ol>
  <li><a href="user_sign_up">Sign Up</a></li>
  <li>Add your Households</li>
  <li>Add clothing to the household</li>
  <li>Add equipment to the household</li>
  <li>Add components to pieces of equipment to keep track of their maintenence schedules </li>
  <li>Live a life with less stress, since everything is tracked for you</li>
  </ol>
</div>

<div class="jumbotron">
  <h3 class="display-3">Let's Get Started!</h3>
  <p class="lead">Links to your stuff</p>
  <hr class="my-4">
            <ul>
            <li><a href="/households">Your Households</a></li>
            <li><a href="/clothes">Your Clothes</a></li>
            <li><a href="/equipment">Your Equipment</a></li>
            <li><a href="/components">Your Components</a></li>
            </ul>
</div>

<div class="jumbotron">
  <h3 class="display-3">Future plans</h3>
  <p class="lead">We're at v1.0 right now...</p>
  <hr class="my-4">
            <ul>
            <li>Activity planning functionality (attach equipment & clothing needed to an activity)</li>
            <li>Trip planning functionality (create itinerary with activities and a packing list)</li>
            <li>Email alerts when maintainence is due</li>
            <li>ETA: eventually...</li>
            </ul>
</div>